* {
   font-size: 16px;
 }
 .container {
   padding: 8px 16px;
   font-family: sans-serif;
   min-width: 90vw;
   min-height: 90vh;
 }
 .bso {
   padding: 8px;
   margin: 8px;
   width: 200px;
 }

 .output {
   padding: 8px;
   margin: 8px;
   border: 1px solid #ccc;
   border-radius: 8px;
   min-height: 100%;
   height: 85vh;
 }