@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
   --color-coral: coral;
   --color-black: black;
   --color-dark-blue: #303f9f;
   --color-medium-blue: #3949ab;
   --color-light-blue: #3f51b5;
   --color-lighter-blue: #5c6bc0;
   --color-lightest-blue: #9fa8da;
   --color-white: #ffffff;
   --color-orangered: orangered;
   --color-orange: #ffb300;
   --color-yellow: #fdd835;
   --color-dark-pink: #ad1457;
   --color-light-pink: #d81b60;
}

* {
   outline: none;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

html,
body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: 0.5s;
   background: var(--color-white);
   cursor: default;
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
}

a {
   text-decoration: none;
   color: var(--color-white);
   display: block;
   transition-duration: 0.3s;
}

ul {
   list-style-type: none;
   padding: 0;
}

h3 {
   color: var(--color-orange);
   margin: 10px 0;
   font-size: 1.25em;
}

.photo {
   text-align: center;

   & img {
      border-radius: 999px;
      opacity: 0.9;
      filter: blur(0.5px);
      max-width: 80%;
      max-height: 80%;
      transition: opacity 0.5s ease;
      &:hover {
         opacity: 1;
      }
   }
}

.resume {
   width: 960px;
   background: var(--color-coral);
   color: var(--color-white);
   margin: 20px auto;
   box-shadow: 10px 10px var(--color-orangered);
   position: relative;
   display: flex;
}

.resume .base,
.resume .func {
   box-sizing: border-box;
   float: left;
}

.resume .base>div,
.resume .func>div {
   padding-bottom: 10px;
}

.resume .base>div:last-of-type,
.resume .func>div:last-of-type {
   padding-bottom: 0;
}

.resume .base {
   width: 40%;
   padding: 30px 15px;
   background: var(--color-black);
   color: var(--color-white);
}

.resume .base .profile {
   background: var(--color-orange);
   padding: 30px 15px 40px 15px;
   margin: -30px -15px 45px -15px;
   position: relative;
   z-index: 2;
}

.resume .base .profile::after {
   content: "";
   position: absolute;
   background: var(--color-dark-blue);
   width: 100%;
   height: 30px;
   bottom: -15px;
   left: 0;
   transform: skewY(-5deg);
   z-index: -1;
}

.resume .base .profile .info {
   text-align: center;
   color: var(--color-white);
}

.resume .base .profile .info .name {
   margin-top: 10px;
   margin-bottom: 0;
   font-size: 1.75em;
   color: var(--color-orangered);
}

.resume .base .profile .info .job {
   margin-top: 10px;
   margin-bottom: 0;
   font-size: 1.5em;
   color: var(--color-black);
}

.resume .base .contact div {
   line-height: 24px;
}

.resume .base .contact div a {
   display: flex;
   gap: 0.5em;
}

.resume .base .contact div a:hover {
   color: var(--color-yellow);
}

.resume .base .contact div a:hover span::after {
   width: 100%;
}

.resume .base .contact div:hover i {
   color: var(--color-yellow);
}

.resume .base .contact div i {
   color: var(--color-orange);
   width: 20px;
   height: 20px;
   font-size: 20px;
   text-align: center;
   margin-right: 15px;
   transition-duration: 0.3s;
}

.resume .base .contact div span {
   position: relative;
}

.resume .base .contact div span::after {
   content: "";
   position: absolute;
   background: var(--color-yellow);
   height: 1px;
   width: 0;
   bottom: 0;
   left: 0;
   transition-duration: 0.3s;
}

.resume .base .follow .box {
   text-align: center;
   vertical-align: middle;
}

.resume .base .follow .box a {
   display: inline-block;
   vertical-align: text-bottom;
}

.resume .base .follow .box a:hover i {
   background: var(--color-yellow);
   border-radius: 5px;
   transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
   transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i {
   display: inline-block;
   font-size: 30px;
   background: var(--color-orange);
   width: 60px;
   height: 60px;
   border-radius: 50%;
   line-height: 60px;
   color: var(--color-black);
   margin: 0 10px 10px 10px;
   transition-duration: 0.3s;
}

.resume .base .follow .box i::before {
   transition-duration: 0.3s;
}

.resume .base .follow .box i.fa::before {
   display: block;
}

.resume .func {
   width: 100%;
   padding: 30px;
}

.resume .func:hover>div {
   transition-duration: 0.5s;
}

.resume .func:hover>div:hover h3 i {
   transform: scale(1.25);
}

.resume .func:hover>div:not(:hover) {
   opacity: 0.5;
}

.resume .func h3 {
   transition-duration: 0.3s;
   margin-top: 0;
}

.resume .func h3 i {
   transition-duration: 0.3s;
}

.resume .func .work,
.resume .func .edu {
   float: left;

   & h3 {
      display: flex;
      gap: 0.5em;
      align-items: center;
   }
}

.resume .func .work small,
.resume .func .edu small {
   display: block;
   opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
   position: relative;
   margin-left: 15px;
   padding-left: 25px;
   padding-bottom: 15px;
}

.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
   -webkit-animation: circle 1.2s infinite;
   animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
   color: var(--color-yellow);
}

@-webkit-keyframes circle {
   from {
      box-shadow: 0 0 0 0px var(--color-yellow);
   }

   to {
      box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
   }
}

@keyframes circle {
   from {
      box-shadow: 0 0 0 0px var(--color-yellow);
   }

   to {
      box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
   }
}

.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
   width: 10px;
   height: 10px;
   left: 1px;
}

.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
   padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
   border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
   content: "";
   display: block;
   position: absolute;
}

.resume .func .work ul li::before,
.resume .func .edu ul li::before {
   width: 7px;
   height: 7px;
   border: 3px solid var(--color-white);
   background: var(--color-orange);
   border-radius: 50%;
   left: 3px;
   z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .edu ul li::after {
   width: 3px;
   height: 100%;
   background: var(--color-white);
   left: 5px;
   top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
   transition-duration: 0.3s;
}

.resume .func .work {
   width: 48%;
   background: var(--color-black);
   padding: 15px;
   margin: 0 4% 15px 0;
}

.resume .func .edu {
   width: 48%;
   background: var(--color-black);
   padding: 15px;
}

.resume .func .skills-prog {
   clear: both;
   background: var(--color-black);
   padding: 15px;

   & h3 {
      display: flex;
      gap: 0.5em;
      align-items: center;
   }
}

.resume .func .skills-prog ul {
   margin-left: 15px;
}

.resume .func .skills-prog ul li {
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   transition-duration: 0.3s;
}

.resume .func .skills-prog ul li:hover {
   color: var(--color-yellow);
}

.resume .func .skills-prog ul li:hover .skills-bar .bar {
   background: var(--color-yellow);
   box-shadow: 0 0 0 1px var(--color-yellow);
}

.resume .func .skills-prog ul li span {
   display: block;
   width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
   background: var(--color-white);
   height: 2px;
   width: calc(100% - 120px);
   position: relative;
   border-radius: 2px;
}

.resume .func .skills-prog ul li .skills-bar .bar {
   position: absolute;
   top: -1px;
   height: 4px;
   background: var(--color-orange);
   box-shadow: 0 0 0 var(--color-orange);
   border-radius: 5px;
}

.resume .func .skills-soft {
   clear: both;
   background: var(--color-black);
   padding: 15px;
   margin: 15px 0 0;
}

.resume .func .skills-soft ul {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.resume .func .skills-soft ul li {
   position: relative;
}

.resume .func .skills-soft ul li:hover svg .cbar {
   stroke: var(--color-yellow);
   stroke-width: 4px;
}

.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
   transform: scale(1.2);
}

.resume .func .skills-soft ul li svg {
   width: 95%;
   fill: transparent;
   transform: rotate(-90deg);
}

.resume .func .skills-soft ul li svg circle {
   stroke-width: 1px;
   stroke: var(--color-white);
}

.resume .func .skills-soft ul li svg .cbar {
   stroke-width: 3px;
   stroke: var(--color-orange);
   stroke-linecap: round;
}

.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
   position: absolute;
   display: block;
   width: 100%;
   top: 25%;
   transition-duration: 0.3s;
}

.resume .func .skills-soft ul li span {
   top: 40%;
}

.resume .func .interests {
   background: var(--color-black);
   margin: 15px 0 0;
   padding: 15px;
}

.resume .func .interests-items {
   box-sizing: border-box;
   padding: 0 0 15px;
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}

.resume .func .interests-items div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.resume .func .interests-items div:hover i {
   transform: scale(1.2);
}

.resume .func .interests-items div:hover span {
   color: var(--color-yellow);
   transition-duration: 0.3s;
}

.resume .func .interests-items div i {
   font-size: 45px;
   width: 60px;
   height: 60px;
   line-height: 60px;
   color: var(--color-orange);
   transition-duration: 0.3s;
}

.resume .func .interests-items div span {
   display: block;
}